<%- include('head.ejs') %>
    <div id="about">
        <div class="j2">
    <p class="display-4 text4">About-us</p>
    <p>
        We are a team of 4 passionate developers ,we created this website so that anyone from anywhere on the world 
        can donate any amount of money ,all of which will be used to help those in need in anypart of the world.
    </p>
      <p class="display-4">Our Goal</p>
      <p>
          There are about 46.8 million millionaires in the world and a lot more people with average job ,even if a million 
          people of out them will donate one dollar every month we can raise a million dollars every month in funds for
          people in need and it dosen't have to be a dollar you can even donate 10 cents or maybe 10 dollars it dosen't matter how 
          much even if you don't realise it your small change can make a big impact on people's lives
      </p>
    </div>
</div>
<%- include('foot.ejs') %>