<%- include('head.ejs') %>
                <div class="jumbotron">
                    <h1 class="display-2">NO<span style="color: rgb(221, 70, 43);">ZO</span>MU</h1>
            <div>
                <p class="h3 text2"><span style="font-size: 6vh; color:  rgb(255, 255, 255);">Hope</span> is a language anyone<br/> from anywhere in the world can understand</p>
                
                <p class="h4 text3">even small donations end up in huge amounts which save many lives...</p>
            </div>
        </div>

        <div>
            <button class="btn btn-outline-light">make-a-change</button>
            <button type="button" class="btn btn-outline-light">Lives we've impacted</button>
        </div>
        <div>
            <ul class="list-group">
                </pre><li class="list-group-item">Number of people donated:   xxxxxxx</li>
                </pre><li class="list-group-item">number of people we helped: xxxxxxx</li>
                </pre><li class="list-group-item">Amount collected:           xxxxxxx</li>
              </ul>
        </div>
        <div>
            <button type="button" class="btn btn-outline-light">Come join them</button>
        </div>
        </div>
        <script src="" async defer></script>
        <div class=" picture">
            <svg id ="heart" width="600" height="500" viewBox="0 0 934 738" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g  clip-path="url(#clip0)">
                <path d="M547.122 440.916C515.1 375.805 540.718 319.234 585.548 279.74C647.457 250.921 708.298 263.729 753.129 321.368C782.382 304.272 819.628 300.571 850.261 307.492C873.898 218.466 851.765 111.73 772.87 54.1884C670.247 -20.6601 526.378 1.85586 451.529 104.479C348.906 29.6306 205.037 52.1466 130.188 154.77C55.3399 257.393 77.8558 401.262 180.479 476.111L552.111 747.161L650.659 610.631L547.122 440.916Z" fill="url(#paint0_linear)"/>
                <path d="M760.14 320.276C752.527 307.238 742.419 295.828 730.395 286.697C718.371 277.566 704.666 270.894 690.063 267.06C675.459 263.227 660.244 262.308 645.285 264.357C630.327 266.405 615.919 271.38 602.883 278.998C589.848 286.616 578.441 296.727 569.315 308.755C560.188 320.782 553.52 334.489 549.692 349.094C545.864 363.699 544.95 378.914 547.004 393.872C549.058 408.83 554.038 423.237 561.66 436.269L677.653 634.749L876.133 518.756C889.165 511.14 900.57 501.031 909.695 489.008C918.821 476.984 925.489 463.28 929.319 448.68C933.149 434.079 934.065 418.867 932.016 403.912C929.967 388.957 924.992 374.552 917.376 361.52C909.76 348.487 899.651 337.083 887.628 327.957C875.604 318.831 861.9 312.163 847.3 308.333C832.699 304.504 817.487 303.587 802.532 305.636C787.577 307.686 773.172 312.66 760.14 320.276V320.276Z" fill="url(#paint1_linear)"/>
                <path d="M759.182 323.928C744.515 298.831 720.479 280.588 692.361 273.213C664.243 265.837 634.347 269.934 609.25 284.601C584.152 299.268 565.909 323.304 558.534 351.422C551.159 379.54 555.255 409.436 569.922 434.533L680.527 623.793L869.786 513.188C882.213 505.926 893.088 496.287 901.79 484.822C910.492 473.356 916.85 460.29 920.502 446.367C924.154 432.445 925.028 417.939 923.074 403.679C921.12 389.419 916.376 375.683 909.114 363.256C901.852 350.829 892.213 339.954 880.747 331.252C869.282 322.551 856.215 316.192 842.293 312.54C828.37 308.888 813.865 308.014 799.605 309.968C785.345 311.922 771.609 316.666 759.182 323.928V323.928Z" fill="#E53935"/>
                <path opacity="0.2" d="M867.786 514.188C892.844 499.545 911.07 475.562 918.468 447.499C925.866 419.436 921.832 389.584 907.25 364.491C892.668 339.398 868.73 321.114 840.684 313.647C812.639 306.181 782.778 310.142 757.65 324.663L866.622 514.869L867.786 514.188Z" fill="black"/>
                <path d="M848.443 292.58C818.099 285.685 786.268 290.605 759.423 306.34C742.982 278.221 716.046 257.783 684.539 249.521C653.031 241.26 619.532 245.851 591.41 262.286C563.287 278.721 542.844 305.653 534.576 337.159C526.308 368.665 530.893 402.165 547.322 430.29L644.772 597.05L554.402 720.97L368.832 585.62L384.462 576.49C415.094 558.589 437.761 529.699 447.861 495.689C457.961 461.679 454.735 425.099 438.84 393.381C422.944 361.663 395.57 337.186 362.279 324.921C328.988 312.657 292.276 313.525 259.602 327.35C254.091 329.691 248.733 332.38 243.562 335.4C230.099 312.351 210.31 293.645 186.542 281.497C162.773 269.35 136.02 264.27 109.452 266.86C110.318 255.771 112.023 244.763 114.552 233.93C114.832 232.73 115.132 231.52 115.432 230.31C116.632 225.56 117.992 220.837 119.512 216.14C119.632 215.78 119.742 215.41 119.872 215.05C120.562 212.97 121.292 210.89 122.042 208.82C122.902 206.46 123.812 204.1 124.762 201.76C125.232 200.59 125.712 199.42 126.212 198.26C126.693 197.13 127.183 196 127.682 194.87C127.697 194.836 127.714 194.803 127.732 194.77C128.242 193.61 128.772 192.46 129.312 191.31C129.372 191.17 129.432 191.03 129.502 190.9C129.982 189.88 130.462 188.87 130.962 187.86C131.522 186.71 132.092 185.57 132.672 184.43C133.902 182 135.193 179.6 136.533 177.2C137.013 176.32 137.512 175.45 138.022 174.58C138.622 173.53 139.232 172.48 139.862 171.44C140.152 170.96 140.442 170.47 140.742 169.99C142.372 167.3 144.072 164.637 145.842 162C146.253 161.38 146.673 160.76 147.102 160.14C147.682 159.29 148.272 158.44 148.862 157.6C149.572 156.6 150.282 155.6 151.012 154.6C222.572 56.4904 360.123 34.9604 458.233 106.52C529.793 8.41044 667.342 -13.1196 765.462 58.4404C801.275 84.5626 828.36 120.895 843.167 162.676C857.974 204.457 859.813 249.736 848.443 292.58Z" fill="#00BFA6"/>
                <path d="M246.537 348.198C231.327 319.107 205.187 297.247 173.864 287.424C142.54 277.601 108.598 280.619 79.5 295.816C50.4018 311.012 28.5294 337.142 18.6919 368.46C8.85434 399.779 11.8569 433.723 27.0395 462.828L141.67 682.325L361.167 567.695C390.26 552.486 412.121 526.346 421.945 495.022C431.769 463.698 428.751 429.755 413.554 400.656C398.357 371.556 372.226 349.684 340.907 339.847C309.587 330.01 275.642 333.013 246.537 348.198V348.198Z" fill="#E53935"/>
                <path opacity="0.2" d="M458.602 106.58L259.602 327.35C254.091 329.691 248.733 332.38 243.562 335.4C230.099 312.351 210.31 293.645 186.542 281.497C162.773 269.35 136.02 264.27 109.452 266.86C110.318 255.771 112.023 244.763 114.552 233.93C114.832 232.73 115.132 231.52 115.432 230.31C116.622 225.56 117.982 220.837 119.512 216.14C119.632 215.78 119.742 215.41 119.872 215.05C120.562 212.971 121.286 210.894 122.042 208.82C122.902 206.46 123.802 204.1 124.762 201.76C125.232 200.59 125.712 199.42 126.212 198.26C126.693 197.13 127.183 196 127.682 194.87C127.697 194.836 127.714 194.803 127.732 194.77C128.242 193.61 128.772 192.46 129.312 191.31C129.372 191.17 129.432 191.03 129.502 190.9C129.982 189.88 130.462 188.87 130.962 187.86C131.522 186.71 132.092 185.57 132.672 184.43C133.902 182 135.192 179.6 136.532 177.2C137.012 176.32 137.512 175.45 138.022 174.58C138.622 173.53 139.232 172.48 139.862 171.44C140.152 170.96 140.442 170.47 140.742 169.99C142.372 167.3 144.072 164.637 145.842 162C146.253 161.38 146.673 160.76 147.102 160.14C147.682 159.29 148.272 158.44 148.862 157.6C149.572 156.6 150.282 155.6 151.012 154.6C222.572 56.4905 360.123 34.9605 458.232 106.52C458.332 106.4 458.422 106.27 458.522 106.15L458.602 106.58Z" fill="black"/>
                </g>
                <defs>
                <linearGradient id="paint0_linear" x1="472.618" y1="747.161" x2="472.618" y2="10" gradientUnits="userSpaceOnUse">
                <stop stop-color="#808080" stop-opacity="0.25"/>
                <stop offset="0.53514" stop-color="#808080" stop-opacity="0.12"/>
                <stop offset="1" stop-color="#808080" stop-opacity="0.1"/>
                </linearGradient>
                <linearGradient id="paint1_linear" x1="338511" y1="266287" x2="338511" y2="128315" gradientUnits="userSpaceOnUse">
                <stop stop-color="#808080" stop-opacity="0.25"/>
                <stop offset="0.53514" stop-color="#808080" stop-opacity="0.12"/>
                <stop offset="1" stop-color="#808080" stop-opacity="0.1"/>
                </linearGradient>
                <clipPath id="clip0">
                <rect width="933.099" height="737.161" fill="white"/>
                </clipPath>
                </defs>
                </svg>
        </div>
<%- include('foot.ejs') %>